<nav class="bg-gray-800 p-6 flex items-center justify-between flex-wrap">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="#">
        <span class="font-semibold text-xl tracking-tight">To-Do-App</span>
      </a>
    </div>
      <div>
        <a routerLink="/signup" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 mr-3 lg:mt-0">Sign up</a>
        <a href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Log In</a>
    </div>
  </nav>